/* Estilos generales del formulario */
.formulario-clases {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #323232;
}

.formulario-clases label {
    color: white;
}

.formulario-clases input {
    border: none;
}

.formulario-clases button {
    background-color: #212121;
    outline: none;
    border: solid 1px #14FFEC;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.7s;
    color: white;
}

.formulario-clases button:hover {
    background-color: #0b7c73;
}

.formulario-clases label:focus {
    color: #14FFEC;
}