/* Estilos generales del formulario */
.formulario-clases {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #0000;
}

.formulario-clases label {
    color: #000;
}

.formulario-clases label:focus {
    color: #14FFEC;
}