body {
    background-color: #131010(34, 9, 44);
    background:radial-gradient(circle, rgb(2, 4, 17) 0%, rgb(14, 13, 13) 100%);
      margin: 0;
      padding: 0;
      font-family: "Anek Tamil", sans-serif;
       height: 100vh;
      
    }
   
    img {
      width: 20%;
    }
    .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items:center;
      justify-content: center;
    }
    
    h1 {
      color: #14ffec;
      font-size: 40px;
      padding: 40px;
  
    }
    button {
      padding: 13px 30px;
      border-radius: 15px;
      border: none;
      background: #14ffec;
      color:#14ffec
    }
  
    
    @media screen and (max-width: 630px) {
      h1 {
        font-size: 16px;
      }
     
      
    }