.contenedorForm {
  background-color: #000;
  color: #14ffec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.form-control {
  border: 2px solid #0a0a0a;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #14ffec;
  box-shadow: 0 0 0 0.2rem rgba(8, 8, 8, 0.25);
}

.btn-outline-light {
  color: #14ffec;
  border-color: #14ffec;
  transition: all 0.3s;
}

.btn-outline-light:hover {
  background-color: #14ffec;
  color: #fff;
}

h1 {
  color: #14ffec;
  margin-bottom: 20px;
}
