.plan-container {
    position: relative;
    background-color: #323232;
    max-width: 18rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: solid 1px #14FFEC;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.plan-title {
    position: absolute;
    top: 20px;
    color: #14FFEC;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1px;
    font-size: 1.7rem;
}

.plan-price {
    position: absolute;
    top: 55px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.plan-details {
    position: absolute;
    top: 130px;
}

.plan-details li {
    font-size: 0.9rem;
}

.plan-container p {
    color: #14FFEC;
    font-weight: 200;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 60px;
}

.join-button {
    position: absolute;
    bottom: 15px;
    background-color: #212121;
    outline: none;
    border: solid 1px #14FFEC;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.7s;
    color: white;
}

.join-button:hover {
    background-color: #0D7377;
}