.formulario-services {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #0000;
}

.formulario-services label {
    color: #000;
}

.formulario-services label:focus {
    color: #14FFEC;
}