.aboutcards-container {
    background-color: #323232;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 100%;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}