.colorFondo{
    background-color: #212121 !important;
    min-height: 100vh;
}

.colorPalabras{
    color: #14FFEC;
}

.colorRegistro{
    color: #14ffec;
    text-decoration: none;
}

.buttonLogin {
    background-color: #212121;
    outline: none;
    border: solid 1px #14FFEC;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.7s;
    color: white;
}

.buttonLogin:hover {
    background-color: #118a80;
}

@media (max-width: 765px) {
    figure{
        display: none;
    }
    .colorFondo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  }