.contenedorFooter {
  background-color: #000000;
  font-size: 1rem;
  color: #14ffec;
}

.icono-blanco {
  color: white;
}

.listSocials li a {
  color: #000;
  text-decoration: none;
  
}

.icono-blanco:hover {
  color: #14ffec;
}

.textTitle {
  font-size: 1.3rem;
}