html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}

.contenedorFooter {
    width: 100%; 
    margin: 0 auto;
    padding: 0; 
    background-color: #212121;
    color: #14FFEC;
}


.listSocials {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.listSocials li a {
    text-decoration: none;
    color: inherit; 
}
