.cards-container {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.title-trainerCarousel {
    color: #14FFEC;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    font-size: 3rem;
}

.carousel-container {
    margin-bottom: 7rem;
}

@media screen and (max-width: 768px) {
    .title-trainerCarousel {
        font-size: 2rem;
    }
}

@media screen and (max-width: 980px) {
    .cards-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}