.navStyle {
  background-color: #000000;
  font-size: 1.2rem;
}


.navLink {
  position: relative;
  left: 20rem; 
  color: #14ffec !important;
}

.brandLogo img {
  display: flex;
  align-items: center;
}


